<h1>Welcome back! {{username}}!</h1>
<article id="payment_list">
{{#each payment}}
<a href="/account/payment/{{payid}}">
<section id="{{paymentId}}">
<span>{{paymentId}}</span><span>{{state}}</span><span>{{dateCreated}}</span>
</section></a>
{{/each}}
</article>