<nav><a href="/">Home</a> > <a href="/cat/{{catid}}-{{name}}">{{name}} </a></nav>
<section id="product_list"><ul>
	
	{{#each prod}}
		<li class="product_box"><a href="/product/{{pid}}-{{name}}"><img src="/images/products/{{pid}}"><div class="product_name">{{name}}</div></a><div>${{price}} <button class="addCart" id="{{pid}}">Add</button></div>
	{{/each}}


</ul></section>