
<nav><a href="/">Home</a> > <a href="/cat/{{catid}}">{{name}}</a> > {{prodname}} </nav>
{{#each prod}}
<article id="product_detail">
<section><img src="/images/products/{{pid}}"/></secction>
<section>{{name}}</section>
<section> Price: {{price}}  <button class="addCart" id={{pid}}>Add to Cart</button></section>
<section>
{{description}}
</section>
</article>
{{/each}}